<table class="table table-condensed">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Available</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
    <tr>
      <td><%= product.id %></td>
      <td><%= link_to product.name, product_path(product) %></td>
      <td><%= product.availability %></td>
        <td><%= link_to "edit", edit_product_path(product) %></td>
      <td></td>
    </tr>
    <% end %>
  </tbody>
</table>
