<div class="jumbotron">
    <h1><center>WELCOME TO AMBROSIA</center></h1>
    <h4><center><em>"Be your own kind of BEAUTIFUL"</center></em></h4><br>
    <h3><center>Now, you can <strong> BUY </strong> and <strong> SELL </strong> your makeup and make <strong>MONEY!!!!</strong></center></h3>

  <%= link_to "Products", products_path, class: "btn btn-primary" %>
    <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary" %>
</div>


<div class="row">
	<%= render @products %>
</div>
