<div class="jumbotron">
    <h1>Welcome to Ambrosia</h1>
    <p>The largest online place to get cosmetics at affordabily cheap prices</p>
    <h4>Now, you can <strong> BUY </strong> and <strong> SELL </strong> your makeup and make <strong>MONEY!!!!</strong>

  <%= link_to "Products", products_path, class: "btn btn-primary" %>
    <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary" %>
</div>


<div class="row">
	<%= render @products %>
</div>
