<div class="jumbotron">
    <h1><center>WELCOME TO AMBROSIAL</center></h1>
    <h4><center><em>"Be your own kind of BEAUTIFUL"</center></em></h4><br>
    <h3><center>Sell your pre-loved makeup items and enjoy shopping in our unique community now!</strong></center></h3>
<br>
  <%= link_to "Products", products_path, class: "btn btn-primary" %>
    <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary" %>
</div>


<div class="row">
	<%= render @products %>
</div>
