<div class="col-md-3">
    <div class="thumbnail">
    	<%= link_to product_path(product) do %>
	        <%= image_tag "lipstick.jpg", class: "img-responsive" %>
        <% end %>

	    <div class="caption">
	      <p><strong><%= link_to product.name, product_path(product) %></strong></p>
	      <p>$<%= product.price.to_f / 100 %></p>
	    </div>
    </div>
  </div>
